*{
    margin: 0;
    padding: 0;
    font-family: "popins", sans-serif;
}
.main_box{
    background-image: url("camera.jpg");
    height: 100vh;
    background-size: cover;
   

}
.btn_one{
    color: white;
    font-size: 30px;
    font-weight: 700px;
    position: absolute;
    left: 30px;
    line-height:60px;
    margin-top: 10px;
    cursor: pointer;
}
.sidebar_menu{
    position: fixed;
    left: -300px;
    height: 100vh;
    width: 300px;
   background-color: rgba(255 ,250, 250, 0.1);
   box-shadow: 0 0 5px rgba(255, 255, 255,0.5);
   transition: all 0.3s linear;
}
.sidebar_menu .logo{
    position: absolute;
    width: 100%;
    box-shadow: 0 2px 4px rgba(255, 255,255,0.5);
    height: 60px;

}
.sidebar_menu .logo a{
    position: absolute;
    left: 80px;
    margin-top:20px;
    color:white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500px;
}
.sidebar_menu .menu{
    position: absolute;
    width: 100%;
    top: 10px;
}
.sidebar_menu .btn_two i{ 
    color: grey;
    font-size: 20px;
    line-height: 40px;
    position: absolute;
    left: 270px;
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.3s linear;
}
.sidebar_menu .menu li{
  margin-top: 20%;  
   padding: 0px 20px;
}
.sidebar_menu .menu i,a{
    color:white;
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
}
.sidebar_menu .menu li{
    padding-right: 20px 20px;
}

.sidebar_menu .social_media{
    position: absolute;
    left: 25%;
    bottom: 10px;

}
.sidebar_menu .social_media i{
 color: white;
    opacity: 0.5;
    padding-left: 10px;
}
#check{ 
    display: none;
}
.sidebar_menu .menu li:hover{
box-shadow: 0 0 4px rgba(255, 255, 255,0.5);
height: 40px;
width: 200px;

}

.btn_one i:hover{
    font-size: 50px;
}

 .btn_two i:hover{
    font-size: 30px;
    
}

.sidebar_menu .social_media i:hover{
    opacity:1;
    color: blue;
    transform: scale(1.1);
}

#check:checked ~ .sidebar_menu{
    left: 0;
}


